/* 

Components.less
@derrybirkett

*/


/* ---------------------------------------

    GENERIC


----------------------------------------*/

    body {
        /* Padding for mobile */
        padding:30px;
    }

    /* Wrapper for all content */
    .wrapper {
        padding-top:150px;
    }

/* ---------------------------------------

     Avatar & Bio Column


----------------------------------------*/

    .avatar {
        height:80px;
        width:80px;
        background-repeat:no-repeat;
        background-size:cover;
        margin:0 auto;
    }

/* ---------------------------------------
    
    MAIN COLUMN (BODY)
        POST

----------------------------------------*/

    .post {
        padding-bottom:50px;
        img {
            width:100%;
            margin:20px 0px 30px;
        }
    }

    /* Pagination buttons */
    .pager {
        display:none;
    }

/* ---------------------------------------

    SIDEBAR


----------------------------------------*/
    
    .sidebar {
        text-align:right;
        padding-left:20px;

        h1 {
            font-size:22px;
            margin-bottom:0.5em;
        }

        p {
            font-size:12px;
            line-height:20px;
            color:@gray;
        }
    }
